---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/base-layout.astro'; // Import the shell

export async function getStaticPaths() {
  return [
    { params: { category: 'released-games' } },
    { params: { category: 'ui-studies' } },
  ];
}

const { category } = Astro.params;
if (!category) {
  throw new Error('Category is required');
}
const entries = await getCollection(category as any);
---

<BaseLayout title={`Portfolio - ${category}`}>
  
  <h1>Viewing Category: {category.toUpperCase()}</h1>

  <ul>
    {entries.map((entry: any) => (
      <li>
        <a href={`/${category}/${entry.slug}`}>
          {entry.data.title}
        </a>
      </li>
    ))}
  </ul>

</BaseLayout>
