---
import TechTags from './tech-tags.astro';

const { entry, basePath } = Astro.props;
const { data, slug } = entry;
---

<a href={`${basePath}/${slug}`} class="project-card">
    
    <div class="card-image" style={`background-image: url(${data.cover})`}/>

  <div class="entry-info">
      <h3>{data.title}</h3>
      {data.studio && <small>Developed by: {data.studio}</small>}
      <small>{data.role}</small>
      <small>{data.timeFrame}</small>
  </div>


<!-- <hr> -->

<div class="card-info">
    
  <div class="tags-container">
    <TechTags rawTechStack={[
      data.engine,
      data.language,
      data.importantTechStack,
      data.githubUrl && "OSS"
    ]}/>
  </div>

<hr style="margin-top: auto">

<!-- {data.itchUrl || data.steamUrl || data.googlePlayUrl || data.applePlayUrl ? ( -->
    <div class="store-icons">
                {data.itchUrl && <i class="fa-brands fa-itch-io" title="Itch.io"></i>}
                {data.steamUrl && <i class="fa-brands fa-steam" title="Steam"></i>}
                {data.googlePlayUrl && <i class="fa-brands fa-google-play" title="Google Play"></i>}
                {data.applePlayUrl && <i class="fa-brands fa-apple" title="App Store"></i>}
                {data.importantTechStack && data.importantTechStack.includes("WebGL") &&
                <i class="fa-solid fa-globe" title="WebGL"></i>}
                {data.importantTechStack && data.importantTechStack.includes("PC") &&
                <i class="fa-solid fa-desktop" title="PC"></i>}
                {data.githubUrl && <i class="fa-brands fa-github" title="GitHub Repository"></i>}
            </div>
        <!-- ) : null} -->
  </div>
</a>

<style>
  .project-card {
    text-decoration: none;
    color: inherit;
    border: 1px solid #eee;
    border-radius: 12px;
    background: #fafafa;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%; /* Ensures all cards in a row match height */
    width: 375px;
  }

  .project-card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.08); 
  }

  .card-image {
    width: 100%;
    height: 375px;
    background-size: cover;
    background-position: center;
    background-color: #f0f0f0;
  }

  .card-info { 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  h3 { 
    margin: 0.5rem 0 0.5rem 0; 
    font-size: 1.75rem;
    line-height: 1.2;

    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;

    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }

  .store-icons {
    margin-top: auto; /* Pushes icons to the bottom */
    justify-content: flex-end; /* This pushes items to the right */
    display: flex;
    gap: 0.8rem;
    color: #666;
    font-size: 1.1rem;
  }
  
  .entry-info{
    text-align: center;
    width: 85%;
    margin: 1rem auto;

    
    display: grid;
    grid-template-rows: auto 1.2em 1.2em 0; /* Title is the only flex grid */
    gap: 0;
  }

  .entry-info small {
    display: block; /* Forces them to new lines */
    line-height: 1.2;
    color: #666;
  }

  .tags-container {
  height: 3rem;  /* 2 rows max*/
  width: 100%;
  
  /* Push tags to the bottom of this box */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
}

</style>